Screen {
    layout: grid;
    grid-size: 3 4;
    grid-gutter: 1;
}

GenericInfoDisplay {
    column-span: 2;
    grid-size: 3;
    grid-columns: auto;
    grid-rows: auto;
    grid-gutter: 2;
    height: auto;
    width: 100;
}

CombatInfoDisplay {
    
    grid-size: 2;
    grid-columns: auto;
    grid-rows: auto;
    grid-gutter: 2;
    height: auto;
    width: 50;
}

StatsDisplay {
    width: auto;
    border: solid blue;
}

Digits {
    
    background: $secondary-darken-1;
    width: auto;
    height: auto;
    offset: 1 0;
}

Label {
    offset: 3 0;
    width: auto;
    height: auto;
}

#inspiration {
    offset: 0 1
}
#inspirationSwitch {
    offset: 1 -1;
    width: auto;
    height: auto;
}
#inventoryScroll {
    height: 5;
}
